@charset 'utf-8';

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --az-blue: #0c234b;
    --az-red: #ab0520;
    --tinta: #03132e;
    --azurite: #1e5288;
    --arroyo-blue: #106ab1;
    --rain: #81ceeb;
    --sonoran-red: #850000;
    --bougainvillea: #c62840;
    --saguaro: #7f8b5a;
    --shade: #3f7a7a;
    --brick: #85372b;
    --cloud: #e5eff7;
    --caliche: #f2efea;
}